@using CustomMVCIdentity.Models
@model ChangePasswordViewModel
@{
}
    <div id="mode" class="content" style="display: flex; justify-content: space-around;">
        <div>
            <div id="login01">
                <p>
                    Værktøj til beregning af
                </p>
                <p style="width: 150%;margin-left: -25%;padding-top: -10%;margin-top: -3%;font-size: 36px;font-weight: bold;color: #0f283c">Attraktionernes Betydning for Samfundet (ABS)</p>
                <p style="text-align: center; font-size: 20px;color: #0f283c;font-weight: normal;width: 130%;margin-left: -15%;margin-top:5%;">
                    En fælles standard for udregning af attraktionernes samfundsøkonomiske betydning for samfundet
                </p>
            </div>
            <div id="login06">
                <img src="~/Content/Guide.png" alt="Pineapple" height="250" width="300">
            </div>
            <br />
            <div style="text-align: left;font-family:Arial;">
                <div style="float: left;max-width:50%;margin-right: 5%;">
                    <div>
                        <div id="login11">
                            Om samfundsregnskabet
                        </div><br />
                              <div id="login12">
                                  Attraktioner skaber oplevelser folk er villige til at rejse efter. Dette betyder at en stor del den skabte økonomiske aktivitet af deres økonomiske værdi ligger udenfor driftsregnskabet og kommer gennem de besøgendes forbrug. Derfor er det ofte svært for en attraktion at synliggøre værdien af de oplevelser de tilvejebringer.
                              </div><br />
                                    <div id="login12">
                                        Attraktionernes Betydning for Samfundet (ABS) er en beregningsmodel der måler de samfundsøkonomiske gevinster en attraktion skaber på et årligt niveau. Med viden om den økonomiske aktivitet, understøttede arbejdspladser og tiltrækningskraften på turisterne er attraktionerne klædt bedre på når værdien skal synliggøres overfor borgere, stakeholdere eller politikere. Beregningsmodellen anvender de nyeste tal fra VisitDenmark, Danmarks Statistik og kombinerer herved på eksisterende viden om danske turisme og gæsteundersøgelser på attraktionen.
                                    </div><br />
                              @*<div id="login12">
                                  ABS-modellen er udarbejdet af Epinion, Top Attraktioner og Attraktionernes Udviklingsfond.
                              </div>*@
                    </div>
                    <div style="overflow: hidden;"></div>
                </div>

                <div style="overflow: hidden;">
                    <section id="loginForm">
                        <p style="font-weight: bold;font-size: 30px;">Skift adgangskode</p>
                        <div style="width: 95%;border-top: 1px #e14646 solid;">
                            @using (Html.BeginForm("ChangePassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("Success", new { @style = "color: #233CA0;font-size: medium;" })
                                <div class="form-group" style="margin-top: 5%;">
                                    @Html.LabelFor(m => m.OldPassword, "Gammel Adgangskode", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, "Ny Adgangskode", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, "Bekræft adgangskode", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-10">
                                        <input type="submit" value="Skift adgangskode" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            <p style="font-size: 16px;color: #0f283c;line-height: 200%;margin-left: 5%;">
                                <img style='display:inline;height: 15px;width: 15px;margin-right: 10px;' src='~/Content/iconCircle.svg' />Forståelige resultater og personlig grafisk rapport<br />
                                <img style='display:inline;height: 15px;width: 15px;margin-right: 10px;' src='~/Content/iconCircle.svg' />Tilpasset til attraktionens gæstesammensætning<br />
                                <img style='display:inline;height: 15px;width: 15px;margin-right: 10px;' src='~/Content/iconCircle.svg' />Troværdig samfundsøkonomisk model<br />
                                <img style='display:inline;height: 15px;width: 15px;margin-right: 10px;' src='~/Content/iconCircle.svg' />Sammenlignelighed på tværs af attraktioner<br />
                                <img style='display:inline;height: 15px;width: 15px;margin-right: 10px;' src='~/Content/iconCircle.svg' />Let at bruge<br />
                            </p>

                        </div>
                    </section>
                </div>
            </div>
            <br />
        </div>
        <div style="width:70%;font-size:16px;color:#e14646;margin-top: 16%;">
            <div style="padding:7%;border-top:1px solid #e14646;border-bottom:1px solid #e14646;">
                Vil du gerne have adgang til værktøjet?
                <br /><br />
                      <a style="color:#e14646;font-weight:bold;" href="https://epinionglobal.com/en/expertise/public-politics/tourism-culture-experiences/">Læs mere om mulighederne her &#8594;</a>
            </div>
            <div style="padding:7%;">
                Har du spørgsmål til værktøjet?<br /><br />
                Ønsker du en skræddersyet rapport?<br /><br />
            </div>
            <div style="background-color:#e14646;color:#ffffff;padding:7%;">
                Skriv til os på abs@epinion.dk
            </div>
        </div>
    </div>
    <div style="text-align:left;font-size:30px;">
        <div style="padding:2%;border-top:1px solid #e14646;border-bottom:1px solid #e14646;color:#e14646;margin-top:2%;">
            Vil du gerne vide mere om Epinions arbejde med turisme, oplevelser og kultur?<br/>
            <a style="color:#e14646;font-weight:bold;" href="https://epinionglobal.com/en/expertise/public-politics/tourism-culture-experiences/">Læs mere her <span style="font-weight:bold;">&#8594;</span></a>
        </div>
    </div>